section.signin-box.js-signin-box.fade-in
  form#signin.signin-form(method='post', novalidate='novalidate')
    .email-wrap
      input.email(placeholder='Email Address', autofocus='autofocus', autocapitalize='off', autocorrect='off', type='email', name='identification')
    .password-wrap
      input.password(placeholder='Password', type='password', name='password')
    button.button-save(type='submit') Log in
    section.meta
      a.forgotten-password(href='#/forgotten') Forgotten password?